mixin title(text)
  .title__text= text
    .title__dot .

mixin SelectBox(name, options)
  .select-box
    .select-box__current(tabindex= '0')
      each option, index in options
        .select-box__value
          input.select-box__input(type='radio' id= index+1 value=option.value name=name checked)
          p.select-box__input-text #{option.name}
      img.select-box__icon(src='/img/icons/form-arrow.svg' alt='' aria-hidden='true')
    ul.select-box__list
      each option, index in options
        li
          label.select-box__option(for=index aria-hidden) #{option.name}
